
<%= render 'shared/header' %>



<div class="container">

  <div class="user-show-wrapper">

    <div class="row user-show-detail">


    <div class="col-md-5">


    <%= link_to image_tag(@user.icon, :class => "img-circle"), edit_user_path(current_user) %>


  </div>

    <div class="col-md-7">

      <h2><%= fa_icon "user" %>
        <%= @user.name %>
      </h2>

      <h4><%= fa_icon "envelope-o" %>
          <%= @user.email %>
      </h4>

      <div class="fan-count">
        <p><%= fa_icon "handshake-o" %>支援しているファン： 3人</p>
        <p><%= fa_icon "hand-peace-o" %>  支援されているファン： 59人</p>
      </div>



                <%= form_tag(action: :pay, method: :post) do %>
                   <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_d4f1d40f09a5a296ab6cdf80"   data-text="月額330円で応援する"
                  data-submit-text="月額330円で応援する"></script>
                <% end %>


    </div>
  </div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">うた ( <%= @user.musics.count %> )</a></li>
    <li role="presentation"><a href="#blog" aria-controls="profile" role="tab" data-toggle="tab">ブログ ( <%= @user.blogs.count %> )</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">ライブ ( <%= @user.dances.count %> )</a></li>
    <li role="presentation"><a href="#draw" aria-controls="messages" role="tab" data-toggle="tab">絵 ( <%= @user.pictures.count %> )</a></li>
    <li role="presentation"><a href="#draw" aria-controls="messages" role="tab" data-toggle="tab">


    </a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"><%= render @musics %></div>
    <div role="tabpanel" class="tab-pane" id="blog"><%= render @blogs %></div>
    <div role="tabpanel" class="tab-pane" id="messages"><%= render @dances %></div>
    <div role="tabpanel" class="tab-pane" id="draw"><%= render @pictures %></div>
  </div>

</div>

</div>
<!-- user-show-wrapper -->

</div>
<!-- container -->



<%= render 'shared/footer' %>
