

<%= render 'shared/header' %>

<div class="container">

  <div class="new-picture-wrapper">


  <h2>
    えがく

  </h2>


<%= form_for @picture do |f| %>

  <div class="field">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>


  <div class="field">
    <%= f.file_field :picture %>
  </div>


<%= f.submit '送信' %>

<% end %>

</div>

</div>






<%= render 'shared/footer' %>
